.course-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
  border-left: 4px solid grey;
  transition: all 0.3s ease;
  min-height: 50px;
  width: 300px;
}

.card--enrolled {
  background-color: #e8f5e9;
}

.card--full {
  background-color: #fff3e0;
}

.expanded {
  min-height: 300px !important;
}